<div class="container">
    <h3><a href="/empleados">Lista de Empleados</a></h3>
    <h1>Editar Empleados</h1>
    <form action="/empleados/update/{{ empleado._id }}" method="post">
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    
                    <td><input type="text" name="nombre" value="{{ empleado.nombre }}"/></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" value="{{ empleado.email }}"/></td>
                    
                </tr>
                <tr>
                    <td>DNI</td>
                    <td><input type="text" name="dni" value="{{ empleado.dni }}"/></td>
                </tr>
                <tr>
                    <td>Sexo</td>
                    <td><input type="text" name="sexo" value="{{ empleado.sexo }}"/></td>
                    
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td><input type="text" name="telefono" value="{{ empleado.telefono }}"/></td>
                </tr>

                <tr>
                    <td colspan="2"> <button type="submit">Update</button> </td>
                    
                </tr>
            </tbody>
        </table>
    </form>
</div>
