<h1>Usuario</h1>

    <p>
        <div class="container">
            <h3><a href="/usuarios/create">Crear usuario</a></h3>
            <h1>Lista de Usuarios</h1>
            {{#if usuarios }}
               <table border="1">
                   <thead>
                       <tr>
                           <th>Nombre</th>
                           <th>Apellido</th>
                           <th>Email</th>
                           <th>Estado</th>
                       </tr>
                   </thead>
                   <tbody>
                       {{# each usuarios }}
                       <tr>
                           <td><a href="/usuarios/show/{{ _id }}"> {{ nombre }}</td>
                           <td> {{ apellido }}</td>
                           <td> {{ email }}</td>
                           <td> {{ estado }}</td>
                       </tr>
                       {{/each}}
                   </tbody>

               </table>

            {{~^~}}
                <div>Lista vacia</div>
            {{/if}}

        </div>
    </p>