<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detalle de usuario</title>
</head>
<body>
    <div class="container">
        <h3><a href="/usuarios">Lista de usuarios</a></h3>
        <h1>Detalle de Usuario</h1>
        <table>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{ usuario.nombre }}</td>
                </tr>
                <tr>
                    <td>Apellido</td>
                    <td>{{ usuario.apellido }}</td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td>{{ usuario.email }}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{ usuario.estado }}</td>
                </tr>
            </tbody>
        </table>

        <h3><a href="/usuarios/edit/{{ usuario._id }}"> EDITAR</h3>
        <form action="/usuarios/delete/{{ usuario._id }}" method="POST">
            <button type="submit">DELETE</button>
        </form>

    </div>
    
</body>
</html>